{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<body>
    <!-- Content block -->
    
  <div class="text-center">
      <!-- Top News -->
    <h2> PITCH-ES </h2>
    <hr>
  </div>
    
  {% for post in posts %}

    <a href="{{ url_for('main.post_details', id = post.id)}}">{{ post.title }}</a>
    <p>Category : {{ post.category }}</p>
    <p>Pitch : {{ post.content }}</p>
    <p>Posted on : {{post.date_posted.strftime('%Y-%m-%d')}}</p>
    <p>Posted by: {{post.user.username}}</p>
    <button type="button" class="btn btn-secondary"> <a href="{{ url_for('main.post_details', id = post.id)}}">Add Comment</a></button>

    {% endfor %}
</body>

{% endblock%}


